.grid-infoPage {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "InfoPageHeader" "InfoPageContainer";
}

.InfoPageHeader {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "InfoPageHeader-title" "InfoPageHeader-buttons" "InfoPageHeader-text";
  grid-area: InfoPageHeader;
}

.InfoPageHeader-title { grid-area: InfoPageHeader-title; }

.InfoPageHeader-buttons { grid-area: InfoPageHeader-buttons; }

.InfoPageHeader-text { grid-area: InfoPageHeader-text; }

.InfoPageContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 1fr;
  grid-template-areas: "container-1 container-2" "InfoPageContainer-footer InfoPageContainer-footer";
  grid-area: InfoPageContainer;
}

.container-1 { grid-area: container-1; }

.container-2 { grid-area: container-2; }

.InfoPageContainer-footer { grid-area: InfoPageContainer-footer; }
