.grid-contactPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 10fr 1fr;
  grid-template-areas: "ContactPageImage ContactPageForm" "ContactPageFooter ContactPageFooter";
}

.ContactPageImage { grid-area: ContactPageImage; }

.ContactPageForm {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr 1fr;
  grid-template-areas: "title" "form" "button";
  grid-area: ContactPageForm;
}

.title { grid-area: title; }

.form { grid-area: form; }

.button { grid-area: button; }

.ContactPageFooter { grid-area: ContactPageFooter; }
