.grid-aboutUs {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "AboutUsText AboutUsImage";
}

.AboutUsText { grid-area: AboutUsText; }

.AboutUsImage { grid-area: AboutUsImage; }