.grid {
  max-width: 100vw;
  height: 100vh;
}
.grid-frontPage {
  //background-color: aqua;
  .footer {
    background-color: #FCCC12;
  }
}

.grid-aboutUs {
  background-color: #EFEFEF;
}

.grid-contactPage {
  background-color: #EFEFEF;
}

.grid-infoPage {
  background-color: blueviolet;
}

.grid-logInPage{
  //background-color: darkcyan;
}
//frontPae foooter
