.logInPage {
  box-sizing: border-box;
  padding: 10px;
  //border: 1px solid black;
  max-width: 100vw;
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.grid-logInPage {
  box-sizing: border-box;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
  position: relative;
  .logInPageTitle {
    font-size: $fontSizeHuge;
  }
  :nth-child(3) {
    font-size: $fontSizeBig;
  }
}


.grid-steps{
  width: 70%;
  margin-left: 15%;
  margin-right: 15%;
  height: 100%;
  background-color: #EFEFEF;
}

img.logo {
  @include logoDecor();
}



div.step-1, div.step-2, div.step-3, div.step-4 {

  div.step-text {

    line-height: 0.8;
    font-size: 12px;
    //max-height: 200px;

  }
}
.step-4-connect {
  width: auto;
}

.steps {
  //position: relative;

  .step-image {


    :nth-child(1) {
      height: 50px;
      width:50px;
      padding: 5px;
    }
  }
  .step-line {

    :nth-child(1) {
      font-size: 12px;
      font-weight: bold;
      line-height: 10px;
      box-sizing: border-box;
      padding: 5px;

    }
    .line {
      width: auto;
      height: 0;
      border: 2px solid black;
      margin: 10px;



    }
  }
  .step-text {
    margin-top: 5px;
    padding: 10px;
    text-overflow: ellipsis;
    overflow: hidden;
  }

}

