div.image {
  background-image: url("../images/header_start_img.jpg");
  background-size: cover;
}

.grid-frontPage div {
  box-sizing: border-box;
  padding: 10px;

}



div.info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
img.logo {
 @include logoDecor();
}

.footer {
  display: flex;
  justify-content: center;
  text-align: center;
  box-sizing: border-box;
  font-size: $fontSizeNormal;
  .footerSec {
    width: 30%;
    height: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
      :nth-child(1){
        font-size: $fontSizeHuge;
      }
      :nth-child(2) {
        text-transform: capitalize;
      }
  }
}

